<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>

    <main>
      <h1>Login Page</h1>
      <p><%= msg %></p>

      <ul>
        <% data.forEach(function(d) { %>
        <li>
          <strong>Name: <%= d.name %></strong>
        </li>
        <% }); %>
      </ul>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
